body{
  background-color: Gainsboro;
  font-family: monospace;
  margin: 0;
}
header{
  background-color: DarkRed;
  color: gainsboro;
  border-bottom: 24px solid FireBrick;
}
.header_div{
  padding: 8px;
}
.header_div div{
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
